---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div class="sidebar-and-content">
    <!-- Left Sidebar -->
    <aside class="sidebar">
      {% include sidebar-categories.html %}
    </aside>
    
    <!-- Main Content -->
    <div class="archive-content">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <h1 id="page-title" class="page__title">{{ page.title }}</h1>
      {% endunless %}

      {{ content }}

      {% if page.taxonomy %}
        {% assign posts = site.tags[page.taxonomy] %}
      {% elsif page.collection %}
        {% assign entries_layout = page.entries_layout | default: 'list' %}
        <div class="entries-{{ entries_layout }}">
          {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=entries_layout %}
        </div>
      {% elsif page.entries_layout %}
        {% include posts-tag.html taxonomy=page.taxonomy type=page.entries_layout %}
      {% else %}
        {% include posts-category.html taxonomy=page.taxonomy type=page.entries_layout %}
      {% endif %}

      {% if posts %}
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% for post in posts %}
            {% include archive-single.html type=page.entries_layout %}
          {% endfor %}
        </div>
      {% endif %}
      
      {% include paginator.html %}
    </div>
  </div>
</div>